body {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#navbar {
    background-color: #333333;
    padding: 5px 0px 5px 0px;
    margin: -20px -8px 0px -8px;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    list-style-type: none;
}

.navwords {
    color: #eeefee;
    text-decoration: none;
}

#welcome-section {
    min-height: 55vh;
    padding-top: 45vh;
}

p {
    font-family: times;
    font-size: 20px;
}

img {
    max-height: 200px;
    max-width: 250px;
}

a {
    text-decoration: none;
}

#projects {
    background-color: #111311;
    color: #ccccdc;
    min-height: 100vh;
    margin: 0px -8px 0px -8px;
}

#project-header {
    padding-top: 5px;
}

#project-area {
    display: flex;
    justify-content: space-around;
}

.project-tile {
    border: 4px solid #343333;
}

.project-pictures {
    max-height: 250px;
    max-width: 300px;
}

.picture-text {
    color: white;
}

#contact {
    background-color: #222222;
    min-height: 80vh;
    min-width: 100vw;
    margin-left: -25px;
    display: flex;
    justify-content: center;
    
}

#profile-link {
    padding-top: 20vh;
}

#profile-link-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: "orange";



}

#footer-text {
    color: #111311;
}