

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

figure {
    border: thin #343434 solid;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 3px;
    box-shadow: 3px -3px 4px #373737;
}

figcaption {
    background-color: darkslategrey;
    color: #FFF;
    font: bold small times;
    padding: 2px;
    text-align: center;
}